[submodule "batch"]
	path = batch
	url = ../scripts-batch.git
	branch = master
[submodule "bash/profiles/home"]
	path = bash/profiles/home
	url = ../scripts-profiles-home.git
	branch = master
[submodule "bash/profiles/work"]
	path = bash/profiles/work
	url = ../scripts-profiles-work2.git
	branch = master
[submodule "bash/personalities"]
	path = bash/personalities
	url = ../scripts-personalities.git
	branch = master
